@model IEnumerable<ECommerce_Website.Models.Cart>

@{
    ViewData["Title"] = "Order History";
}
<div class="container">
    <h3 class="text-center my-3">Order History</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Cart ID</th>
                <th>Customer Name</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cart in Model)
            {
                <tr>
                    <td>@cart.cart_id</td>
                    <td>@cart.customers.customer_name</td>
                    <td>@cart.products.product_name</td>
                    <td>@cart.product_quantity</td>
                    <td>@cart.products.product_price</td>
                    <td>
                        @if (cart.order?.rating.HasValue == true)
                        {
                            <span>@cart.order.rating</span>
                        }
                        else
                        {
                            <span>Not Rated</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
