@model List<Product>

<style>
    .product-item {
        height: 350px; /* Set a fixed height for the card */
    }

    .product-img img {
        height: 200px; /* Set a fixed height for the product image */
        object-fit: cover; /* Ensures the image scales and crops proportionally */
    }
</style>
    @foreach (var pro in Model)
    {

  @*   <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src="@("~/product_images"+pro.product_image)" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">@pro.product_name</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6><h6 class="text-muted ml-2"><del>@pro.product_price</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                </div>
            </div>
        </div>
    </div> *@


    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="card product-item border-0 mb-4">
            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                <img class="img-fluid w-100" src="@("~/product_images/"+pro.product_image)" alt="" asp-append-version="true">
            </div>
            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                <h6 class="text-truncate mb-3">@pro.product_name</h6>
                <div class="d-flex justify-content-center">
                    <h6>Rs.@pro.product_price</h6>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between bg-light border">

                <a href="@Url.Action("productDetails","Customer",new{id=pro.product_id})" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-info mr-1"></i>View Detail</a>
                <form method="post" asp-action="AddToCart" >
                    <input type="hidden" name="prod_id" value="@pro.product_id" />
                    <input class="btn btn-sm text-dark p-0" type="submit" value="Add To Cart" /><i class="fas fa-shopping-cart text-info mr-1"></i>
                </form>
                @* <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a> *@
            </div>
        </div>
    </div>


@*     <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                <img class="img-fluid w-100" src="@("~/product_images/"+pro.product_image)" alt="" asp-append-version="true">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                <h6 class="text-truncate mb-3">@pro.product_name</h6>
                        <div class="d-flex justify-content-center">
                        <h6>Rs.@pro.product_price</h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    </div>
                </div>
    </div>  *@
    }


