 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Vok Lagyo</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="~/ewebsite/img/favicon.icon" rel="icon" asp-append-version="true">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" asp-append-version="true">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" asp-append-version="true">

    <!-- Libraries Stylesheet -->
    <link href="~/ewebsite/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" asp-append-version="true">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/ewebsite/css/style.css" rel="stylesheet" asp-append-version="true">
</head>


<body>



    <!-- Topbar Start -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary py-2 px-xl-5">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="navbar-brand text-dark" href="@Url.Action("index","customer")">Home</a>

                <!-- Hamburger Button -->
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible Menu -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("fetchAllProducts","customer")">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("feedback","customer")">Contact</a>
                        </li>
                    </ul>
                </div>

                <!-- Login/Signup or Logout Links -->
                <div class="d-flex align-items-center ms-lg-3">
                    @if (String.IsNullOrEmpty(ViewBag.checkSession))
                    {
                        <a href="@Url.Action("customerLogin", "customer")" class="btn btn-info me-2">Login</a>
                        <a href="@Url.Action("CustomerRegistration", "customer")" class="btn btn-warning">Register</a>
                    }
                    else
                    {
                        <a href="@Url.Action("customerLogout", "customer")" class="btn btn-danger">Logout</a>
                    }
                </div>
            </div>
        </nav>




        @*
          <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center py-2">
                    <a class="text-dark" href="@Url.Action("index","customer")">Home</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">About</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="@Url.Action("feedback","customer")">Contact</a>
                </div>

            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                     @if(String.IsNullOrEmpty(ViewBag.checkSession))
                    {
                    <a href="@Url.Action("customerLogin", "customer")" class="nav-item nav-link">Login</a>
                    <a href="@Url.Action("CustomerRegistration", "customer")" class="nav-item nav-link">Register</a>
                    }
                    else
                    {
                    <a href="@Url.Action("customerLogout", "customer")" class="nav-item nav-link">Logout</a>
                    } 

                     <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a> 
                </div>
            </div> 
        </div> *@ 
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-warning font-weight-bold border px-3 mr-1">Vok</span>Lagyo</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-info">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="@Url.Action("customerProfile","customer")" class="btn border">
                    <i class="fa fa-user text-info" aria-hidden="true"></i>
                    <span class="badge"></span>
                </a>
@*                 <a href="" class="btn border">
                    <i class="fas fa-heart text-info"></i>
                    <span class="badge">0</span>
                </a> *@
                <a href="@Url.Action("fetchCart","customer")" class="btn border">
                    <i class="fas fa-shopping-cart text-info"></i>
                    <span class="badge"></span>
                </a>
                <a href="@Url.Action("UserOrderHistory", "customer", new { customerId = ViewBag.CustomerId })" class="btn border">
                    <i class="fa fa-history text-info"></i> 
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    

    <div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Vendor End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-warning font-weight-bold border border-white px-3 mr-1">Vok</span>Lagyo</h1>
                </a>
                <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum dolore amet erat.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-Warning mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-warning mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-warning mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="@Url.Action("index","customer")"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="@Url.Action("index","customer")"><i class="fa fa-angle-right mr-2"></i>About</a>
                            <a class="text-dark mb-2" href="@Url.Action("customerProfile","customer")"><i class="fa fa-angle-right mr-2"></i>Profile</a>
                            <a class="text-dark mb-2" href="@Url.Action("fetchCart","customer")"><i class="fa fa-angle-right mr-2"></i>Cart</a>
                            <a class="text-dark mb-2" href="@Url.Action("UserOrderHistory","customer")"><i class="fa fa-angle-right mr-2"></i>History</a>
                            <a class="text-dark" href="@Url.Action("feedback","customer")"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Social Media</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Facebook</a>
                            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Instagram</a>
                            <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Twiter</a>
                            <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Youtube</a>
                            <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Tiktok</a>

                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                       required="required" />
                            </div>
                            <div>
                                <button class="btn btn-warning btn-block border-0 py-3" type="submit">Subscribe Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="#">Vok Lagyo</a>. All Rights Reserved. Designed
                    by
                    <a class="text-dark font-weight-semi-bold" href="#">Sankalpa Ojha</a><br>
                    
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-warning back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="~/ewebsite/lib/easing/easing.min.js"></script>
    <script src="~/ewebsite/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/ewebsite/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/ewebsite/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/ewebsite/js/main.js"></script>
</body>

</html> 


